<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Предполагаемый результат</title>
</head>
<body>
    <h3>
        Угадать цвет предмета
    </h3>
    <span>
        Имеется группа из 100 предметов.Предметы могут быть синего, зеленого и красного цвета.<br>
        Известно, что предметов синего цвета сильно больше, чем предметов зеленого цвета, <br>
        а предметов зеленого цвета намного больше, чем предметов красного цвета.<br>
        <br>
        <b>
            Предполагаемы цвет предмта: <br>
            <h4> {{ item }} </h4>
        </b>
        <a href="{% url 'color' %}">Назад</a>
    </span>
</body>
</html>